* {
  margin: 0px;
  padding: 0px;
  font-family: "Playfair Display", serif;
}

h1 {
  margin: 0px auto;
  display: inline-block;
}

p {
  margin: 10px 0px;
}

#game {
  border: 10px solid black;
}

.page {
  display: flex;
  margin: 10px;
}
.aside {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #ffad0a;
  border-radius: 28px;
  border: 1px solid #d98e1f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #2f6627;
  margin: 20px;
}
.button:hover {
  background-color: #ed7c26;
}
.button:active {
  position: relative;
  top: 1px;
}

#gameStart {
  width: 700px;
  height: 474px;
  background-color: coral;
  position: absolute;
  border: 10px solid black;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameStart p {
  margin: 0px;
}

#gameOver {
  width: 700px;
  height: 474px;
  background-color: red;
  position: absolute;
  border: 10px solid black;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameOver p {
  margin: 0px;
}

#gameWin {
  width: 700px;
  height: 474px;
  background-color: green;
  position: absolute;
  border: 10px solid black;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameWin p {
  margin: 0px;
}
